{% extends 'base.html' %}

{% block content %}

{% include 'include/breadcrumb.html' %}

<h1>{{ object.title }}</h1>
<ul>
   <li>{{ object.phone_number_1 }}</li>
    <li>{{ object.main_title }}</li>
    <li>{{ object.garpix_logo.url }}</li>
    <li>{{ object.main_logo }}</li>
    <li>{{ object.description_logo }}</li>
    <li>{{ object.main_background }}</li>

    <li>{{ object.menu_item_one }}</li>
    <li>{{ object.menu_item_two }}</li>
    <li>{{ object.main_item_three }}</li>

    <li>{{ object.project_tasks_title }}</li>
    <li>{{ object.project_tasks_one }}</li>
    <li>{{ object.project_tasks_two }}</li>
    <li>{{ object.project_tasks_three }}</li>
    <li>{{ object.project_tasks_four }}</li>

    <li>{{ object.project_tasks_photo_one }}</li>
    <li>{{ object.project_tasks_photo_two }}</li>

    <li>{{ object.project_stage_title }}</li>
    <li>{{ object.project_stage_one }}</li>
    <li>{{ object.project_stage_two }}</li>
    <li>{{ object.project_stage_three }}</li>
    <li>{{ object.project_stage_four }}</li>
    <li>{{ object.project_stage_five }}</li>

    <li>{{ object.project_stage_title_small }}</li>

    <li>{{ object.project_stage_description }}</li>

    <li>{{ object.project_stage_photo_one }}</li>
    <li>{{ object.project_stage_photo_two }}</li>
    <li>{{ object.design_title }}</li>

    <li>{{ object.design_description }}</li>

    <li>{{ object.design_photo_one }}</li>
    <li>{{ object.design_stage_photo_two }}</li>

    <li>{{ object.design_background }}</li>

    <li>{{ object.integration_title }}</li>
    <li>{{ object.integration_one }}</li>
    <li>{{ object.integration_two }}</li>

    <li>{{ object.integration_photo_one }}</li>
    <li>{{ object.integration_photo_two }}</li>
    <li>{{ object.integration_photo_three }}</li>

    <li>{{ object.project_command_title }}</li>

    <li>{{ object.command_player_1 }}</li>
    <li>{{ object.command_player_2 }}</li>
    <li>{{ object.command_player_3 }}</li>
    <li>{{ object.command_player_4 }}</li>
    <li>{{ object.command_player_5 }}</li>
    <li>{{ object.command_player_6 }}</li>
    <li>{{ object.command_player_7 }}</li>
    <li>{{ object.command_player_8 }}</li>

    <li>{{ object.technology_title }}</li>
    <li>{{ object.technology_title_small }}</li>

    <li>{{ object.technology_item_1 }}</li>
    <li>{{ object.technology_item_2 }}</li>
    <li>{{ object.technology_item_3 }}</li>

    <li>{{ object.technology_photo }}</li>
    <li>{{ object.technology_background }}</li>

    <li>{{ object.more_case_link }}</li>

    <li>{{ object.contacts_title }}</li>
    <li>{{ object.contacts_email }}</li>

    <li>{{ object.contacts_address_1 }}</li>
    <li>{{ object.contacts_address_2 }}</li>
    <li>{{ object.contacts_address_3 }}</li>
    <li>{{ object.social_title_1 }}</li>
    <li>{{ object.social_link_title_1 }}</li>
    <li>{{ object.social_title_2 }}</li>
    <li>{{ object.social_link_title_2 }}</li>
    <li>{{ object.social_title_3 }}</li>
    <li>{{ object.social_link_title_3 }}</li>
    <li>{{ object.social_title_4 }}</li>
    <li>{{ object.social_link_title_4 }}</li>
    <li>{{ object.social_title_5 }}</li>
    <li>{{ object.social_link_title_5 }}</li>

</ul>
{% endblock %}
